* {
  background-color: tan;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1 {
  text-align: center;
  font-size: 40px;
}

p {
  text-align: center;
  font-size: 24px;
}

.ingredients {
  text-align: left;
  list-style: square;
  display: list-item;
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  margin-bottom: 50px;
  width: 30%;
}

#buttons li a {
  font-size: 18px;
  color: tan;
  background-color: black;
  list-style: none;
  text-decoration: none;
  padding: 10px;
  text-align: center;
  display: inline-block;
}

#buttons li {
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

ul {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  margin: 0;
  padding: 0;
}

ul li {
  margin: 10px;
  padding: 10px;
}